<div class="container contribute">
  <div class="row" style="padding-top: 40px;">
    <div class="col-md-4">
      <a href="/"> HOME </a>

      <i class="fa fa-caret-right"></i>
      <a href="/contribute">Contribute</a>

      <i class="fa fa-caret-right"></i>
      <a href="/contribute/canonical-data">Canonical Data</a>

    </div>

    <div class="col-md-8">
        <h1>Canonical Data</h1>
    </div>
  </div>

  <div class="row" style="padding-top: 20px;">
    <aside role="complementary">
      <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">

          <% problems.each do |problem| %>
            <li>
              <a href="/contribute/canonical-data/<%= problem.slug %>">
                <%= problem.name %>
              </a>
            </li>
          <% end %>

        </ul>
      </div>
    </aside>

    <div class="col-md-8 tab-content">
      <div class="tab-pane active" >
          <p>We have a total of <%= active_problems_count %> problems on Exercism. Some are implemented in many language tracks, others are implemented in just a few.</p>

          <p>
          To make it easier to port exercises to new language tracks, we're in the process of creating canonical test data for each problem.
          This gets implemented into a file called <code>canonical-data.json</code>. The file lives in <a href="https://github.com/exercism/x-common">exercism/x-common</a> repository, alongside the other common data for the problem.</p>

          <p>So far we've extracted canonical data for <%= canonical_problems_count %> of the <%= active_problems_count %> problems. Just <%= problems.size %> more to go!</p>

          <p>Want to help out? Pick an exercise from the list in the sidebar, and check out the documentation in <a href="https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#improving-consistency-by-extracting-shared-test-data">the contributing guide</a>.</p>
      </div>
    </div>
  </div>

</div>
